/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 7, 2025, 12:49:07 PM
    Author     : a
*/
.default-color0.chart-bar {
    -fx-bar-fill: #6198B4;
}
.bar-chart {
    -fx-bar-gap: 10; 
    -fx-category-gap: 150;
}
.chart-axis .axis-label {
    -fx-text-fill: #ffffff;
}

.chart-axis .axis-label {
    -fx-text-fill: #ffffff;
}
.chart-category-axis .tick-label {
    -fx-font-size: 20px; 
    -fx-text-fill: #000000; 
}
#startButton, #closeButton {
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5);
    -fx-text-fill: #629cba;
    -fx-cursor: hand; 
}
#startButton:hover, #closeButton:hover {
    -fx-background-color: #629cba;
    -fx-text-fill: #A0D6E7;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 5);
}
#startButton:pressed, #closeButton:pressed {
    -fx-background-color: #206390;
    -fx-text-fill: #629cba;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 15, 0, 0, 7);
}


